@media (width <= 70em) {
    .desktop-only {
        display: none;
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }

    #featured {
        grid-auto-flow: row;
    }

    #wrapper-card {
        display: flex;
        flex-wrap: wrap;   
        justify-content: center;     

    }

    #weekly {
        grid-auto-flow: row;

        & figure {
            height: 100%;
        }

        & img {
            height: 100%;
        }
    }

    #wrapper-fig {
        display: flex;
        flex-wrap: wrap;   
        justify-content: center;   
        max-width: 36.5rem;  
        margin: auto;

        
    }

    #ai {
        grid-auto-flow: row;
        
        & img {
            min-width: 7.75rem;
        }
    }

    main {    
        grid-template-columns: 1fr;
    
        grid-template-areas: 
        "featured "
        "weekly "
        "ai"
        "aside";
    }

    .mobile-only {
        display: initial;
    }

}



@media (width <= 55em) {
    #secondary {
        display: block;
        overflow-x: scroll;  
        white-space: nowrap;
        display: inline-block;   
        width: 100%;

        & a {
            margin-right: .5rem;
        }

        
        
        
    }  

    ::-webkit-scrollbar {
        width: 8px; /* Largura da barra de rolagem vertical */
        height: 8px; /* Altura da barra de rolagem horizontal */
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: var(--brand-color-light); /* Cor do "polegar" da barra */
        border-radius: 4px; /* Deixa as extremidades arredondadas */
      }
      
      ::-webkit-scrollbar-track {
        background-color: var(--stroke-color); /* Cor do trilho da barra */
      }
}